*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.2rem;
}

span {
    font-size: 1.2rem
}

a {
    font-size: 1.2rem;
}

.instagram__wrapper {
    Display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    height: 90vh;
}

.instagram__photo {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
}

.instagram__phone {
    margin: auto 0;
}

.instagram__phone img {
    height: 55rem;
}

.instagram__continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* Vertical */
    flex-direction: column;
    min-width: 34rem;
}

.profile__photo img {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem 0;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffffff;
    width: 45rem;
    padding: 1.4rem 0;
    border: 1px solid lightgray;
    margin: 1rem 0;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram__logo{
    height: 3rem;
}

.instagram__login {
    background-color: #0095f6;
    color: white;
    padding: .7rem 1rem;
    border-radius: .4rem;
    margin-bottom: 1rem;
}

.instagram__lougout {
    color: #0095f6;
    font-weight: 300;
    margin-top: 1rem;
}

.link__blue {
    color: #0095f6;
    font-weight: bold;
}

.get__the__app {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 45rem;
    margin-top: 1rem;
}

.get__app {
    font-weight: bold;
    text-align: center;
}

.store__img {
    width: 15rem;
}

.download {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    
}

/* Media queries */

@media (max-width: 1024px) {
    .instagram__wrapper {
        width: 90rem;
    }
    .instagram__phone {
        width: 40rem;
    }   
    .group {
        width: 30rem;
    }
    .get__the__app {
        width: 30rem;
        flex-direction: column;
        align-items: center;
    }
    .store__img {
        width: 12rem;
        align-items: space-around;
    }
}

@media (max-width: 650px) {
    .instagram__wrapper {
        width: 90%;
    }
    .instagram__phone {
        display: none;
    }
    .instagram__continue {
        width: 90%;
    }
    .download{
        flex-direction: column;        
    }
    .group{
        width: 25rem;

    }
    .get__the__app {
        flex-direction: column;
        align-items: center;
        width: 25rem;
    }
    .get__app{
        flex-direction: column;
        align-items: center;
    }
}