@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #03e5b7;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: repeat;
    background-size: 400% 400%;
    animation: backgroundTransition 12s ease-in-out infinite; 
}

body h1 {
    font-size: 40px;
}

#button {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    padding: 0.4em 1em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}


#button .text{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }

  #button:after {
    content: "";
    border-radius: 17px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #233264;
  }

  #button:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  #button:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

  input[type="text"] {
    width: 15rem;
    height: 1.5rem;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid  #4568dc;
    animation: backgroundTransition 12s ease-in-out infinite;
  }


@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}