<div class="card left-filter">
  <div class="card-header"><h4>Filtros</h4></div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="de">De</label>
        <input type="number" name="de" id="de" class="form-control">
      </div>
      <div class="form-group">
        <label for="ate">Até</label>
        <input type="number" name="ate" id="ate" class="form-control">
      </div>
      <button class="btn btn-primary" style="margin-top: 1rem;">Filtrar</button>
    </form>
  </div>
</div>
